<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="title">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fundo">
  <div>
    <h1>Login</h1>
    <br>
      <input type="text" placeholder="Usuário">
    <br><br>
 <input type="password" placeholder="Senha">
<br><br>
<ion-button expand="block" color="secondary" routerLink="../tabs/tab1">Entrar </ion-button>
</div>


<h1 class="back" color="secondary" routerLink="/entrada" ><ion-icon name="arrow-back-outline"></ion-icon></h1>


</ion-content>
