<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="title">Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <h1 routerLink="/registro">Cadastro</h1>
      <input type="text" placeholder="Usuário">
    <br><br>

 <input type="password" placeholder="Senha">
<br><br>
<ion-button color="secondary" routerLink="../tab1">Entrar </ion-button>
      <ion-button color="secondary" routerLink="" >Voltar</ion-button>
<br><br>
<ion-button color="secondary">Esqueceu a senha?</ion-button>


</div>

</ion-content>
