<ion-header>  </ion-header>

<ion-content>

  <div class="fundo">
    <h1 class="back" routerLink="/tabs/tab1" ><ion-icon name="arrow-back-outline"></ion-icon></h1>

  </div>

  <ion-grid class="grid">


    <h1 class="letra">Meu Perfil</h1>
    <ion-avatar class="tamanho">
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>

    <br>
    <br>
    <br>

<ion-col>
  <div class="arrumado">
    <ion-row><h1>Nome:</h1></ion-row>
    <ion-row><h1>Email:</h1></ion-row>
    <ion-row><h1>Telefone:</h1></ion-row>

  </div>
</ion-col>



  </ion-grid>


</ion-content>
