<ion-content [fullscreen]="true">
  <ion-content class="grid">
    <div class="seta">
      <ion-icon routerLink="/tabs/tab1" name="arrow-back-outline"></ion-icon>
    </div>

    <div class="fundo" *ngFor="let user of users">
      <ion-avatar>
        <!-- <img class="imagem" src="../../assets/modelo.jpg" /> -->
        <img class="imagem" [src]="user.img" />
        <ion-fab>
          <ion-fab-button>
            <ion-icon name="camera"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-avatar>

      <ion-card
        style="
          padding: 1%;
          padding-right: 5%;
          margin: 3, 7%;
          margin-top: 8%;
          --background: #eaeff1;
          border-radius: 20px;
          color: black;
        "
      >


        <ion-list style="background-color: #eaeff1" >
          <ion-item style="--background: #eaeff1">
            <ion-icon color="dark" name="person-outline"></ion-icon>
            <ion-label style="margin-left: 5%"
              >{{user.nomeusuario}}</ion-label
            >
          </ion-item>

          <ion-item style="--background: #eaeff1">
            <ion-icon color="dark" name="mail-outline"></ion-icon>
            <ion-label style="margin-left: 5%">{{user.email}}</ion-label>
          </ion-item>

          <ion-item style="--background: #eaeff1">
            <ion-icon color="dark" name="call-outline"></ion-icon>
            <ion-label style="margin-left: 5%">{{user.telefone}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-card>
      <button class="sign-out-button" >
        <ion-icon routerLink="../entrada" class= "sair" name="arrow-back-circle-outline" ></ion-icon>
        <span routerLink="../entrada">Sair da Conta</span>
      </button>
    </div>
  </ion-content>
</ion-content>
