.grid {
  height: 100%;
  width: 100%;
  margin-left: 25%;
  position: absolute;
  bottom: 0;
}

.seta {
  position: absolute;
  top: 24px;
  left: 10px;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeats;
  color: #eaeff1;

  ion-icon {
    font-size: 24px;
    // color: white;
  }
}

.ion-title {
  text-align: center;
  font-family: Serif;
  background-color: #013440;
}

.fundo {
  background-image: url("../../assets/Fundo.png");
  background-repeat: repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 3%;
}

ion-avatar {
  height: 250px;
  width: 60%;
  margin-left: 25%;
  margin-right: 20%;
  margin-top: 19%;
}

ion-fab-button {
  --background: #eaeff1;
  --color: #013440;
  margin-top: 165px;
  position: absolute;
  margin-left: -70px;
}

.imagem {
  height: 80%;
  width: 80%;
}

.sign-out-button {
  width: 100%;
  padding: 8px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 14px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;

  .sair{
    height: 32px;
    width: 32px;
    color: cornflowerblue;
    margin-right: 0%;
    margin-left: 0%;

  }

  span {
    color: cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 0%;
    margin-right: 0%;
  }
}

.dados{
font-family:Georgia, 'Times New Roman', Times, serif;
height: 0%;
margin-left: 5%;
}
