<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="title">
      Linhas/Horários
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" [fullscreen]="true" class="ion-padding">
  <ion-searchbar color="medium" show-clear-button="always" placeholder="Pesquisar"></ion-searchbar>

  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Linha 1</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        horários
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Linha 2</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Second Content
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Linha 3</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Third Content
      </div>
    </ion-accordion>
    <ion-accordion value="fourth">
      <ion-item slot="header" color="light">
        <ion-label>Linha 4</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        horários
      </div>
    </ion-accordion>
    <ion-accordion value="fifth">
      <ion-item slot="header" color="light">
        <ion-label>Linha 5</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Second Content
      </div>
    </ion-accordion>
    <ion-accordion value="sixth">
      <ion-item slot="header" color="light">
        <ion-label>Linha 6</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Third Content
      </div>
    </ion-accordion>
    <ion-accordion value="seventh">
      <ion-item slot="header" color="light">
        <ion-label>Linha 7</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        horários
      </div>
    </ion-accordion>
    <ion-accordion value="eighth">
      <ion-item slot="header" color="light">
        <ion-label>Linha 8</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Second Content
      </div>
    </ion-accordion>
    <ion-accordion value="ninth">
      <ion-item slot="header" color="light">
        <ion-label>Linha 9</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Third Content
      </div>
    </ion-accordion>
  </ion-accordion-group>

</ion-content>
