<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="title">
      Linhas/Horários
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-searchbar color="medium" show-clear-button="always" placeholder="Pesquisar"></ion-searchbar>

  <ion-accordion-group>

    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Linha 1</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-grid class="meio">
          <ion-accordion-group>
          <ion-accordion value=" eleventh">
            <ion-item slot="header" color="light">
              <ion-label>Terminal Urbano (centro)</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
                Segunda à Sexta
                <br>
                08:00
                <br>
                16:40
            </div>
          </ion-accordion>
        </ion-accordion-group>
        <ion-accordion-group>
        <ion-accordion value=" Twelfth">
          <ion-item slot="header" color="light">
            <ion-label>São Judas Tadeu</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            Segunda à Sexta
            <br>
            08:15
            <br>
            17:00
          </div>
        </ion-accordion>
      </ion-accordion-group>
        </ion-grid>
      </div>
    </ion-accordion>

    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Linha 2</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-accordion-group>
        <ion-accordion value=" Thirteenth">
          <ion-item slot="header" color="light">
            <ion-label>Segunda à Sabado</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-grid class="meio">
              <ion-accordion-group>
              <ion-accordion value=" Thirteenth">
                <ion-item slot="header" color="light">
                  <ion-label>Terminal Urbano (centro)</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                    06:40
                    <br>
                    12:00
                    <br>
                    17:30
                </div>
              </ion-accordion>
            </ion-accordion-group>
            <ion-accordion-group>
            <ion-accordion value="fourteenth">
              <ion-item slot="header" color="light">
                <ion-label>Alfredo Guedes</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                07:25
                <br>
                12:25
                <br>
                17:55
              </div>
            </ion-accordion>
          </ion-accordion-group>
            </ion-grid>
          </div>
        </ion-accordion>
      </ion-accordion-group>
        <ion-accordion-group>
        <ion-accordion value=" Thirteenth">
          <ion-item slot="header" color="light">
            <ion-label>Domingo e feriado</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-grid class="meio">
              <ion-accordion-group>
              <ion-accordion value=" Thirteenth">
                <ion-item slot="header" color="light">
                  <ion-label>Terminal Urbano (centro)</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                    08:10
                    <br>
                    17:40
                </div>
              </ion-accordion>
            </ion-accordion-group>
            <ion-accordion-group>
            <ion-accordion value="fourteenth">
              <ion-item slot="header" color="light">
                <ion-label>Alfredo Guedes</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                08:30
                <br>
                18:10
              </div>
            </ion-accordion>
          </ion-accordion-group>
            </ion-grid>
          </div>
        </ion-accordion>
      </ion-accordion-group>
      </div>
    </ion-accordion>

    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Linha 3</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-grid class="meio">
          <ion-accordion-group>
          <ion-accordion value=" Thirteenth">
            <ion-item slot="header" color="light">
              <ion-label>Etec</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
                Segunda à Sábado
                <br>
                06:00
                <br>
                18:00
                <br>
                10:00
                <br>
                12:00
                <br>
                14:00
                <br>
                16:00
                <br>
                18:10
            </div>
          </ion-accordion>
        </ion-accordion-group>
        <ion-accordion-group>
        <ion-accordion value="fourteenth">
          <ion-item slot="header" color="light">
            <ion-label>Alfredo Guedes</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            Segunda à Sábado
            <br>
            07:25
            <br>
            12:25
            <br>
            17:55
          </div>
        </ion-accordion>
      </ion-accordion-group>
        </ion-grid>
      </div>
    </ion-accordion>

    <ion-accordion value="fourth">
      <ion-item slot="header" color="light">
        <ion-label>Linha 4</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        horários
      </div>
    </ion-accordion>

    <ion-accordion value="fifth">
      <ion-item slot="header" color="light">
        <ion-label>Linha 5</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Second Content
      </div>
    </ion-accordion>

    <ion-accordion value="sixth">
      <ion-item slot="header" color="light">
        <ion-label>Linha 6</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Third Content
      </div>
    </ion-accordion>

    <ion-accordion value="seventh">
      <ion-item slot="header" color="light">
        <ion-label>Linha 7</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        horários
      </div>
    </ion-accordion>

    <ion-accordion value="eighth">
      <ion-item slot="header" color="light">
        <ion-label>Linha 8</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Second Content
      </div>
    </ion-accordion>

    <ion-accordion value="ninth">
      <ion-item slot="header" color="light">
        <ion-label>Linha 9</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Third Content
      </div>
    </ion-accordion>

    <ion-accordion value="tenth">
      <ion-item slot="header" color="light">
        <ion-label>Linha 10</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Third Content
      </div>
    </ion-accordion>
  </ion-accordion-group>

</ion-content>
