<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <div class="logo">
      <img class="logo-img" src="../../assets/bus.svg" alt="" />
      <ion-title class="title">
       BusLanes
      </ion-title>
      <ion-icon class="icone" name="person-circle-outline" routerLink="/cadastro"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-searchbar show-clear-button="always" placeholder="Pesquise seu destino"></ion-searchbar>
<capacitor-google-map #map></capacitor-google-map>
<!-- this.getLocation(); -->
</ion-content>
