<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <div class="logo">
      <img class="logo-img" src="../../assets/bus.svg" alt="" />

      <ion-title class="title"> BusLanes </ion-title>

      <ion-icon
        (click)="navigateIcon()"
        class="icone"
        name="person-circle-outline"
      ></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label
      label="Floating label"
      labelPlacement="floating"
      placeholder="De"
    ></ion-label>
    <ion-input [(ngModel)]="sourceLocation"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label
      label="Floating label"
      labelPlacement="floating"
      placeholder="Para"
    ></ion-label>
    <ion-input [(ngModel)]="destinationLocation"></ion-input>
  </ion-item>

  <ion-button expand="full" type="submit" (click)="calculateAndDisplayRoute"
    >Calcular Rota
  </ion-button>
  <!--<ion-searchbar [(ngModel)]="destinationLocation" show-clear-button="always" placeholder="Pesquise seu destino"></ion-searchbar> -->
  <capacitor-google-map #map></capacitor-google-map>
  <!-- this.getLocation(); -->
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-feature android:name="android.hardware.location.gps" />
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" (click)="locate()">Me localizar</ion-button>
  </ion-toolbar>
</ion-footer>
