<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="title">Cadastrar-se</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


    <ion-card>
      <ion-card-content>

        <h1 class="back" color="secondary" routerLink="/entrada">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </h1>

        <ion-item fill="outline">
          <ion-label position="floating">Nome</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <br>

        <ion-item fill="outline">
          <ion-label position="floating">Celular</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <br>

        <ion-item fill="outline">
          <ion-label position="floating">Email</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <br>

        <ion-item fill="outline">
          <ion-label position="floating">Cidade</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <br>

        <ion-item fill="outline">
          <ion-label type="password" position="floating">Senha</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <br>

        <ion-item fill="outline">
          <ion-label type="password" position="floating">Confirmar senha</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <br><br>

        <ion-button expand="block" color="secondary" routerLink="../tabs/tab1">Entrar </ion-button>

      </ion-card-content>
    </ion-card>



</ion-content>
