<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title class="title"> Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fundo">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="title">Cadastro</ion-card-title>
    </ion-card-header>

    <ion-item color="light">
      <ion-label position="stacked">E-mail</ion-label>
      <ion-input
        type="email"
        fill="solid"
        label="Email"
        labelPlacement="floating"
        helperText="Enter a valid email"
        errorText="Invalid email"
        ngModel
        email
      ></ion-input>
    </ion-item>

    <br><br>
    <input type="password" placeholder="Senha">


  </ion-card>

</ion-content>
