<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="title">Cadastrar-se</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fundo" >

  <h1 class="back" routerLink="/entrada">
    <ion-icon color="light" name="arrow-back-outline"></ion-icon>
  </h1>

    <ion-card color="dark">
      <ion-card-content>

        <ion-item color="light">
          <ion-label position="floating">Nome</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <br>

        <ion-item color="light">
          <ion-label position="floating">Celular</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <br>

        <ion-item color="light">
          <ion-label position="floating">Email</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <br>

        <ion-item color="light">
          <ion-label position="floating">Cidade</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <br>

        <ion-item color="light">
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>

        <br>

        <ion-item color="light">
          <ion-label position="floating">Confirmar senha</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>

        <br><br>

        <ion-button expand="block" color="secondary" routerLink="../tabs/tab1">Entrar </ion-button>

      </ion-card-content>
    </ion-card>



</ion-content>
